<section>
  <h1>{{player.name}}</h1>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0">
          <tbody>
  <tr>
    <td class="titles">Nome</td>
    <td>{{player.name}}</td>
  </tr>
  <tr>
    <td class="titles">Data di nascita</td>
    <td>{{player.dateOfBirth}}</td>
  </tr>
  <tr>
    <td class="titles">Paese di nascita</td>
    <td>{{player.countryOfBirth}}</td>
  </tr>
  <tr>
    <td class="titles">Nazionalità</td>
    <td>{{player.nationality}}</td>
  </tr>
  <tr>
    <td class="titles">Ruolo</td>
    <td>{{player.position}}</td>
  </tr>
  <tr>
    <td class="titles">Numero di maglia</td>
    <td>{{player.shirtNumber}}</td>
  </tr>
</tbody>
</table>
</div>
</section>
