.fab-container {
    margin: 1em;
    position: fixed;
    bottom: -72px;
    right: 0;
  }
  
  .fab {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
    position: relative;
    cursor: pointer;
    transition: .3s;
  }
  .fab:before {
    content: attr(tooltip);
    background: #595959;
    padding: 4px 8px;
    border-radius: 2px;
    position: absolute;
    top: 16px;
    right: 100%;
    color: white;
    font: 400 15px Roboto;
    opacity: 0;
    visibility: hidden;
    white-space: nowrap;
    transition: .3s;
  }
  .fab:hover {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2), 0 3px 8px rgba(0, 0, 0, 0.12);
  }
  .fab:hover:before {
    right: 110%;
    opacity: 1;
    visibility: visible;
  }
  
  .profile {
    margin-bottom: 1em;
  }
  .profile:after {
    background: #264d73 url("https://cbwconline.com/IMG/Codepen/Profile.svg") center no-repeat;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: .3s;
  }
  .profile:hover:after {
    background-image: url("https://cbwconline.com/IMG/Codepen/Go.svg");
    transform: rotate(90deg);
  }
  
  .top {
    background: #3E35B2 url("https://cbwconline.com/IMG/Codepen/Up.svg") center no-repeat;
  }
  
  